.header {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.header p {
  margin-bottom: 0;
}
.container {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  max-width: 750px;
}

.window {
  width: 100%;
  height: 60vh;
  display: flex;
  flex-direction: column;
  border-radius: 5px;
  background-color: blueviolet;
}

.header {
  background-color: #000055;
  padding: 0.5rem;
  color: white;
}

.body {
  flex-grow: 1;
  overflow-y: auto;
}

.content {
  max-width: 50%;
  padding: 10px;
  border-radius: 10px;
  margin: 4px 10px;
  clear: both;
}

.send {
  background-color: antiquewhite;
}

.reply {
  /* background-color: #; */
  color: white;
}

.user-input {
  padding: 5px;
  background-color: grey;
}

.user-form {
  display: flex;
}

.user-form input {
  flex-grow: 2;
  /* color: #eee; */
}

form {
  width: 100%;
}
